@{
    ViewBag.Title = "Home Page";
}
<!-- Slider Area Start Here -->
<section class="section-space-bottom">
    <div class="container">
        <div class="row no-gutters">

            <!-- Slider -->
            @Html.Action("Slider")
           
            <!-- Column -->
            @Html.Action("Newsofslider")

        </div>
    </div>
</section>
<!-- Slider Area End Here -->

<!-- Popular Area Start Here -->
    @Html.Action("FavoritePost")
<!-- Popular Area End Here -->

<!-- Latest Articles Area Start Here -->
<section class="section-space-bottom-less30">
    <div class="container">
        <div class="row">
            <!-- Articles-->
              @Html.Action("ArchiveNews")
            <!-- Articles-->

            <div class="ne-sidebar sidebar-break-lg col-xl-4 col-lg-12">
                <!-- Social Media-->

                <div class="sidebar-box item-box-light-md">
                    <div class="topic-border color-cinnabar mb-30">
                        <div class="topic-box-lg color-cinnabar">در ارتباط باشید</div>
                    </div>
                    <ul class="stay-connected-color overflow-hidden">
                        <li class="facebook">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <div class="connection-quantity">50.2 k</div>
                                <p>طرفدار</p>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <div class="connection-quantity">10.3 k</div>
                                <p>دنبال کننده</p>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                <div class="connection-quantity">25.4 k</div>
                                <p>طرفدار</p>
                            </a>
                        </li>
                        <li class="rss">
                            <a href="#">
                                <i class="fa fa-rss" aria-hidden="true"></i>
                                <div class="connection-quantity">20.8 k</div>
                                <p>مشترک</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Social Media-->

                <div class="sidebar-box item-box-light-md-less30 ie-full-width">
                    <ul class="btn-tab item-inline block-xs nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#recent" data-toggle="tab" aria-expanded="true" class="active">آخرین اخبار </a>
                        </li>
                        <li class="nav-item">
                            <a href="#popular" data-toggle="tab" aria-expanded="false">محبوب</a>
                        </li>
                        <li class="nav-item">
                            <a href="#common" data-toggle="tab" aria-expanded="false">متداول </a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade active show" id="recent">
                            <div class="row">
                                @Html.Action("NewNews")
                            </div>
                        </div>

                      

                        <div role="tabpanel" class="tab-pane fade" id="popular">
                            <div class="row">
                               @Html.Action("FavoriteColumn")
                            </div>
                        </div>
                        

                        <div role="tabpanel" class="tab-pane fade" id="common">
                            <div class="row">
                                @Html.Action("NormalPost")
                            </div>
                        </div>

                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>
<!-- Latest Articles Area End Here -->


<!-- Videos Area Start Here -->
<section class="bg-secondary-body section-space-default">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="topic-border color-cinnabar mb-30 width-100">
                    <div class="topic-box-lg color-cinnabar">تماشای ویدئو</div>
                </div>
            </div>
        </div>
        <div class="ne-carousel nav-control-top2 color-white2" data-loop="true" data-items="3" data-margin="10" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="2" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="2" data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="3" data-r-large-nav="true" data-r-large-dots="false">
            <div class="img-overlay-70-c">
                <div class="mask-content-sm">
                    <div class="topic-box-sm color-cod-gray mb-20">غذا</div>
                    <h3 class="title-medium-light">
                        <a href="~/Content/single-news-3.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
                    </h3>
                </div>
                <div class="text-center">
                    <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                        <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                    </a>
                </div>
                <img src="~/Content/img/news/news291.jpg" alt="news" class="img-fluid width-100">
            </div>
            <div class="img-overlay-70-c">
                <div class="mask-content-sm">
                    <div class="topic-box-sm color-cod-gray mb-20">دسر</div>
                    <h3 class="title-medium-light">
                        <a href="~/Content/single-news-3.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
                    </h3>
                </div>
                <div class="text-center">
                    <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                        <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                    </a>
                </div>
                <img src="~/Content/img/news/news292.jpg" alt="news" class="img-fluid width-100">
            </div>
            <div class="img-overlay-70-c">
                <div class="mask-content-sm">
                    <div class="topic-box-sm color-cod-gray mb-20">ساندویچ</div>
                    <h3 class="title-medium-light">
                        <a href="~/Content/single-news-3.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
                    </h3>
                </div>
                <div class="text-center">
                    <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                        <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                    </a>
                </div>
                <img src="~/Content/img/news/news293.jpg" alt="news" class="img-fluid width-100">
            </div>
            <div class="img-overlay-70-c">
                <div class="mask-content-sm">
                    <div class="topic-box-sm color-cod-gray mb-20">غذا</div>
                    <h3 class="title-medium-light">
                        <a href="~/Content/single-news-3.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
                    </h3>
                </div>
                <div class="text-center">
                    <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                        <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                    </a>
                </div>
                <img src="~/Content/img/news/news291.jpg" alt="news" class="img-fluid width-100">
            </div>
            <div class="img-overlay-70-c">
                <div class="mask-content-sm">
                    <div class="topic-box-sm color-cod-gray mb-20">دسر</div>
                    <h3 class="title-medium-light">
                        <a href="~/Content/single-news-3.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
                    </h3>
                </div>
                <div class="text-center">
                    <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                        <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                    </a>
                </div>
                <img src="~/Content/img/news/news292.jpg" alt="news" class="img-fluid width-100">
            </div>
            <div class="img-overlay-70-c">
                <div class="mask-content-sm">
                    <div class="topic-box-sm color-cod-gray mb-20">ساندویچ</div>
                    <h3 class="title-medium-light">
                        <a href="~/Content/single-news-3.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
                    </h3>
                </div>
                <div class="text-center">
                    <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                        <img src="~/Content/img/banner/play.png" alt="play" class="img-fluid">
                    </a>
                </div>
                <img src="~/Content/img/news/news293.jpg" alt="news" class="img-fluid width-100">
            </div>
        </div>
    </div>
</section>
<!-- Videos Area Start Here -->


<!-- Category Area Start Here -->
<section class="bg-body section-space-less10">
    <div class="container">
        <div class="row tab-space5">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1 overlay-dark-level-2 img-grayscale-hover text-center mb-10">
                    <img src="~/Content/img/category/ctg10.jpg" alt="news" class="img-fluid width-100">
                    <div class="content p-30-r">
                        <div class="ctg-title-xs">غذا</div>
                        <h3 class="title-regular-light size-lg">
                            <a href="~/Content/post-style-1.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
                        </h3>
                        <div class="post-date-light d-block d-sm-none d-md-block">
                            <ul>
                                <li>
                                    <span>توسط</span>
                                    <a href="~/Content/single-news-1.html">وحید</a>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>22 اردیبهشت 1398
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1 overlay-dark-level-2 img-grayscale-hover text-center mb-10">
                    <img src="~/Content/img/category/ctg11.jpg" alt="news" class="img-fluid width-100">
                    <div class="content p-30-r">
                        <div class="ctg-title-xs">غذا</div>
                        <h3 class="title-regular-light size-lg">
                            <a href="~/Content/post-style-1.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
                        </h3>
                        <div class="post-date-light d-block d-sm-none d-md-block">
                            <ul>
                                <li>
                                    <span>توسط</span>
                                    <a href="~/Content/single-news-1.html">وحید</a>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>22 اردیبهشت 1398
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1 overlay-dark-level-2 img-grayscale-hover text-center mb-10">
                    <img src="~/Content/img/category/ctg12.jpg" alt="news" class="img-fluid width-100">
                    <div class="content p-30-r">
                        <div class="ctg-title-xs">غذا</div>
                        <h3 class="title-regular-light size-lg">
                            <a href="~/Content/post-style-1.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
                        </h3>
                        <div class="post-date-light d-block d-sm-none d-md-block">
                            <ul>
                                <li>
                                    <span>توسط</span>
                                    <a href="~/Content/single-news-1.html">وحید</a>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>22 اردیبهشت 1398
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1 overlay-dark-level-2 img-grayscale-hover text-center mb-10">
                    <img src="~/Content/img/category/ctg13.jpg" alt="news" class="img-fluid width-100">
                    <div class="content p-30-r">
                        <div class="ctg-title-xs">غذا</div>
                        <h3 class="title-regular-light size-lg">
                            <a href="~/Content/post-style-1.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
                        </h3>
                        <div class="post-date-light d-block d-sm-none d-md-block">
                            <ul>
                                <li>
                                    <span>توسط</span>
                                    <a href="~/Content/single-news-1.html">وحید</a>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>22 اردیبهشت 1398
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1 overlay-dark-level-2 img-grayscale-hover text-center mb-10">
                    <img src="~/Content/img/category/ctg14.jpg" alt="news" class="img-fluid width-100">
                    <div class="content p-30-r">
                        <div class="ctg-title-xs">غذا</div>
                        <h3 class="title-regular-light size-lg">
                            <a href="~/Content/post-style-1.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
                        </h3>
                        <div class="post-date-light d-block d-sm-none d-md-block">
                            <ul>
                                <li>
                                    <span>توسط</span>
                                    <a href="~/Content/single-news-1.html">وحید</a>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>22 اردیبهشت 1398
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1 overlay-dark-level-2 img-grayscale-hover text-center mb-10">
                    <img src="~/Content/img/category/ctg15.jpg" alt="news" class="img-fluid width-100">
                    <div class="content p-30-r">
                        <div class="ctg-title-xs">غذا</div>
                        <h3 class="title-regular-light size-lg">
                            <a href="~/Content/post-style-1.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
                        </h3>
                        <div class="post-date-light d-block d-sm-none d-md-block">
                            <ul>
                                <li>
                                    <span>توسط</span>
                                    <a href="~/Content/single-news-1.html">وحید</a>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>22 اردیبهشت 1398
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Area End Here -->
